<h1>Eat-da-Burger</h1>

<div class="burger-not-eat">
  <h2 id="burger-not-eat-title">Burgers waiting to be munched</h2>
  {{#each burgers}}
    {{#unless devoured}}
      <div class="burger-well">
        <p>{{id}}. {{burger_name}}</p>

        <button class="change-devour" data-id="{{id}}" data-devour="1">DEVOUR</button>
      </div>
    {{/unless}}
  {{/each}}
</div>

<div class="burger-eat">
  <h2 id="burger-eat-title">Burgers that have been scarfed!</h2>
  {{#each burgers}}
    {{#if devoured}}
      <div class="burger-well">
        <p>{{id}}. {{burger_name}}</p>
      </div>
    {{/if}}
  {{/each}}
</div>

<div class="add-burger">
  <h2>Add a Burger</h2>
  <form class="create-form">

    <div class="form-group">
      <input type="text" id="burger" name="name">
    </div>

    <button type="submit" id="burgerBtn">Submit</button>
  </form>
</div>